{% extends "portal/base.tmpl.html" %}

{% block main_contents %}

<p> We believe that the big traditional social media platforms have
  become to big for their own good. Too much power concentrated in the
  hands of a few oligarchs in Silicon Valley is leading to an internet
  that is closed and not with the best interests of the people in
  mind.
</p>

<p> We also understand that network effects make it difficult for
  people to leave those platforms. For better or worse, these
  platforms still have an incredible amount of amazing content and it
  is hard to let go of the connections that hundreds of millions of
  people have made it through these platforms throughout the years.
</p>

<p>
  <em>Fediverser</em> wants to solve these problems with a two-pronged
  approach. First, we want to make the content from the current
  platforms available in the equivalent fediverse platform. After the
  content is available, more people will be able to make the switch.
</p>

{% endblock %}
