{% extends "portal/base.tmpl.html" %}
{% load fediverser %}

{% block main_content %}
{% if not user.is_authenticated %}
<h1 class="w-header__title">  Welcome to {% site_name %}</h1>
<h2>One-click migration tool from Reddit to the Fediverse.</h2>

{% lemmy_instance as lemmy %}
<p>
  <a href="{% url 'fediverser-core:reddit-connection-setup' %}">Sign-up</a>
  using your Reddit account, get started on
  <a href="https://{{ lemmy.domain }}">
    {{ lemmy.domain }}</a> right away.
</p>

<p>
  When you complete the registration, we will find your favorite
  subreddits and automatically connect you to the
  corresponding Lemmy groups.
</p>
{% else %}
<h1 class="w-header__title">Hello, {{ user.username }}</h1>
{% endif %}
{% endblock %}
