{% extends "portal/base.tmpl.html" %}
{% load static wagtailcore_tags fediverser i18n allauth account %}

{% block bodyclass %}login{% endblock %}

{% block furniture %}
{% fediverser_portal_settings as portal_settings %}
<main class="content-wrapper" id="main">
  <h1>
    {% block branding_login %}
    Sign in to {% site_name %}
    {% endblock %}
  </h1>

  <div class="messages" role="status">
    {# Always show messages div so it can be appended to by JS #}
    {% if messages or form.errors %}
    <ul>
      {% if form.errors %}
      {% for error in form.non_field_errors %}
      <li class="error">{{ error }}</li>
      {% endfor %}
      {% endif %}
      {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

  {% block above_login %}
  {% endblock %}

  <div class="login-form">
    {% block login_form %}
    {% if portal_settings.open_registrations %}
    {% url 'account_login' as login_url %}
    {% element form form=form method="post" action=login_url tags="entrance,login" %}
    {% slot body %}
    {% csrf_token %}
    {% element fields form=form unlabeled=True %}
    {% endelement %}
    {{ redirect_field }}
    {% endslot %}
    {% slot actions %}
    <button class="button button-longrunning">
      <em data-w-progress-target="label">{% trans 'Sign In' %}</em>
    </button>
    {% endslot %}
    {% endelement %}
    <hr />
    {% endif %}
    <p>
      To access {% site_name %}, we recommend you login with your
      social media accounts:
    </p>
    <footer class="form-actions">
      {% block submit_buttons %}
      <a href="{% url 'fediverser-core:reddit-login' %}" class="button button-longrunning">
        <em data-w-progress-target="label">{% trans 'Sign in via Reddit' %}</em>
      </a>
      {% endblock %}
    </footer>
    {% endblock %}
  </div>

  {% block below_login %}{% endblock %}

  {% block branding_logo %}
  <div class="login-logo">
    <img src="{% static 'fediverser/images/fediverse-logo.png' %}" alt="Fediverver Network" />
  </div>
  {% endblock %}
</main>
{% endblock %}
