{% extends "portal/base.tmpl.html" %}
{% load fediverser wagtailadmin_tags %}

{% block main_content %}
{% if not user.is_authenticated %}
{% fediversed_lemmy as fediversed_lemmy_configuration %}
{% if fediversed_lemmy_configuration.allows_reddit_signup %}
<h1 class="w-header__title">Welcome to {% site_name %}</h1>
<section>
  <h3>One-click migration from Reddit to {{ fediversed_lemmy_configuration.instance.domain }}</h3>
  <p>
    <a href="{% url 'fediverser-core:reddit-login' %}">Login with Reddit</a> and
    we will automatically create an account for you and subscribe to all your
    favorite commuities.
  </p>
</section>
{% endif %}

<section>
  <h3>Help build the most comprehensive map of communities in the Fediverse</h3>
  <p>
    We already recommend alternatives for thousands of the most popular
    subreddits. Our goal is to expand this database so that we can
    help everyone find other people that share the same interests as yours.
  </p>
</section>

{% else %}
{% with user.account.lemmy_local_user as lemmy_user %}
{% if lemmy_user is None %}
<div class="help-block help-warning">
  {% icon name="warning" %}
  <p>An account was not created automatically created for you on our Lemmy server, most likely because your username is already taken.</p>
  <p>Please, <a href="{% url 'fediverser-core:lemmy-connect-setup' %}">complete the registration</a> manually.
</div>
{% elif lemmy_user is not None and not lemmy_user.has_set_password %}
<div class="help-block help-warning">
  {% icon name="warning" %}
  <p>Please complete your registration and
    <a href="{% url 'fediverser-core:lemmy-set-password' %}">set the password</a>
    for your Lemmy account.
  </p>
</div>
{% endif %}
{% endwith %}

<h1 class="w-header__title">Welcome, {{ user }}</h1>
<section class="w-summary" aria-labelledby="header-title">
  <h2 class="w-sr-only">Your dashboard</h2>
  <ul class="w-summary__list">
    <li>
      {% icon name="group" %}
      <a href="{% url 'fediverser-core:subreddit-list' %}">
        <span>{{ user.account.tracked_subreddits.count }}</span> subreddits tracked
      </a>
    </li>
    <li>
      {% icon name="group" %}
      <a href="{% url 'fediverser-core:community-list' %}">
        <span>{{ user.account.recommended_communities.count }}</span> communities recommended for you</span>
      </a>
    </li>
  </ul>
</section>
{% endif %}
{% endblock %}
