{% extends "web/base.tmpl.html" %}

{% load web account %}

{% block main_contents %}

{% if user.redditaccount %}
<h3>Control Panel</h3>

<p>
  We have set up your Lemmy account at
  <a target="_blank" href="https://{% lemmy_mirror_instance %}">
    {% lemmy_mirror_instance %}</a>.
  To start using it, head to the
  <a target="_blank" href="https://{% lemmy_mirror_instance %}/login">login page</a>
  with the same username ({{ user.redditaccount.username }}) you use on reddit.</p>

{% if user.redditaccount.is_initial_password_in_use %}

<p>
  Your initial
  password is <em>{{ user.redditaccount.password }}</em>. Please change
  the password as soon as possible.</p>

{% endif %}

<h4>What else can you do here?</h4>

<ul>
  <li>
    <s>
      Find and subscribe all the Lemmy communities that
      correspond to your favorite subreddits
    </s>
    (Coming soon)
  </li>
  <li>
    <s>Import your post and comment history. Requires a reddit API
      key.
    </s>
    (Coming soon)
  </li>
  <li>
    <s>
      Set up two-way communication so that mirrored conversations can
      be kept in sync between Lemmy and Reddit
    </s>
    (Coming soon)
  </li>
  <li>
    <s>Invite friends</s> (Coming soon)</li>
</ul>

{% else %}

<h2>Ready to join the Fediverse?</h2>

Sign-in with your existing social media accounts, and we will set you
up.

<ul>
  <li>
    <a href="{% url 'web:reddit-connection-setup' %}">Connect
      your reddit account
    </a> to access Lemmy at
    <a href="https://{%lemmy_mirror_instance%}">{% lemmy_mirror_instance %}</a>.
  </li>
</ul>
{% endif %}
{% endblock %}
