{% extends "portal/generic/listing.tmpl.html" %}
{% load wagtailadmin_tags %}

{% block listing %}
<table class="listing listing--inline-actions">
  <thead>
    <tr>
      <th scope="col">Domain</th>
      <th scope="col">Software</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
    {% for instance in object_list %}
    <tr>
      <td class="title">
        <div class="title-wrapper">
          <a href="{% url 'fediverser-core:instance-detail' domain=instance.domain %}">
            {{ instance.domain }}
          </a>
          <a href="{{ instance.url }}" target="_blank">🌐</a>
        </div>
      </td>
      <td>{{ instance.get_software_display }}</td>
      <td>{{ instance.category.name|default:"Not categorized yet" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
