{% extends "portal/generic/listing.tmpl.html" %}
{% load humanize %}

{% block listing %}
<table class="listing listing--inline-actions">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Fediverse Identities</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for redditor in object_list %}
    <tr>
      <td class="title">
        <div class="title-wrapper">
          <a href="{% url 'fediverser-core:redditor-detail' username=redditor.username %}">
            {{ redditor.username }}
          </a>
        </div>
      </td>
      <td>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
