{% extends "portal/base.tmpl.html" %}
{% load fediverser %}

{% block main_content %}

{% if not user.is_authenticated %}
<section>
<h1 class="w-header__title">Welcome to {% site_name %}</h1>
<p>
  This website works as a communication hub for people in the
  <a href="https://fediverse.party" target="_blank">Fediverse</a> and
  is meant to help both new and experienced users, as well as instance
  administrators. Here is what we can do:
</p>
</section>
<section>
  <h3>Get started in the Fediverse</h3>
  <p>
    The Fediverse works differently than traditional social networks,
    and this makes things a bit tricky. One of the biggest challenges
    is that the Fediverse is not one *single* site or app, but a large
    number of different servers. While we do believe that choice and
    diversity is one of the things that make the Fediverse great, it
    also makes you spend some time learning about the different
    options.
  </p>
</section>

<section>
  <h3>Build the most comprehensive map of communities in the Fediverse</h3>
  <p>
    We already recommend alternatives for thousands of the most popular
    subreddits. Our goal is to expand this database so that we can
    help everyone find other people that share the same interests as yours.
  </p>
</section>
{% else %}
<h1 class="w-header__title">Hello, {{ user.username }}</h1>
{% endif %}

{% if not user.is_authenticated or not user.account.has_connected_activitypub_accounts %}
<h2>Server Finder</h2>
<p>
  Fediverser streamlines the whole onboarding process. We ask a few
  simple questions about your interests and use to find the best
  server for you and subscribe you to the most relevant communities automatically.
</p>
{% if user.is_authenticated and user.account.reddit_account is None %}
<p>
  Hint: If you have a <a href="{% url 'fediverser-core:reddit-connection-setup' %}">Reddit</a>
  account we can collect your favorite subreddits to make the process even faster!
</p>
{% elif not user.is_authenticated %}
<p>
  Hint: If you sign-in with <a href="{% url 'fediverser-core:reddit-login' %}">Reddit</a>
  account we can collect your favorite subreddits to make the process even faster!
</p>

{% endif %}
{% endif %}

{% endblock %}
