{% extends "portal/base.tmpl.html" %}
{% load countries fediverser wagtailadmin_tags %}


{% block main_header %}
{% include "portal/partials/home_header.tmpl.html" with title=page_title subtitle=page_subtitle action_url=header_action_url action_text=header_action_label icon=None  %}
{% endblock %}

{% block main_content %}
{% if not user.is_authenticated %}
<section>
<h1 class="w-header__title">Welcome to {% site_name %}</h1>
<p>
  This website works as a communication hub for people in the
  <a href="https://fediverse.party" target="_blank">Fediverse</a> and
  is meant to help both new and experienced users, as well as instance
  administrators. Here is what we can do:
</p>
</section>
<section>
  <h3>Get started in the Fediverse</h3>
  <p>
    The Fediverse works differently than traditional social networks,
    and this makes things a bit tricky. One of the biggest challenges
    is that the Fediverse is not one *single* site or app, but a large
    number of different servers. While we do believe that choice and
    diversity is one of the things that make the Fediverse great, it
    also makes you spend some time learning about the different
    options.
  </p>
</section>

<section>
  <h3>Build the most comprehensive map of communities in the Fediverse</h3>
  <p>
    We already recommend alternatives for thousands of the most popular
    subreddits. Our goal is to expand this database so that we can
    help everyone find other people that share the same interests as yours.
  </p>
</section>
{% else %}
<h1 class="w-header__title">Hello, {{ user.username }}</h1>
{% endif %}

{% endblock %}
