{% extends "portal/base.tmpl.html" %}
{% load fediverser %}

{% block main_content %}

{% if not user.is_authenticated %}
<section>
<h1 class="w-header__title">Welcome to {% site_name %}</h1>
<p>
  This website works as a communication hub for people in the
  <a href="https://fediverse.party" target="_blank">Fediverse</a> and
  is meant to help both new and experienced users, as well as instance
  administrators. Here is what we can do:
</p>
</section>
<section>
  <h3>Get started in the Fediverse</h3>
  <p>
    The Fediverse works differently than traditional social networks,
    and this makes things a bit tricky. One of the biggest challenges
    is that the Fediverse is not one *single* site or app, but a large
    number of different servers. While we do believe that choice and
    diversity is one of the things that make the Fediverse great, it
    also makes you spend some time learning about the different
    options.
  </p>

  <p>
    This tool removes this initial guesswork and makes the process a
    lot easier.
    <a href="{% url 'fediverser-core:reddit-connection-setup' %}">You just need to have a Reddit account</a>
    and we will find the best server for you and register you there.
    In the process, we will also import your subreddits to find the
    corresponding Lemmy groups, so you can get started right away.
  </p>
</section>

<section>
  <h3>Build the most comprehensive map of communities in the Fediverse</h3>
  <p>
    We already recommend alternatives for thousands of the most popular
    subreddits. Our goal is to expand this database so that we can
    help everyone find other people that share the same interests as yours.
  </p>
</section>

{% else %}
<h1 class="w-header__title">Hello, {{ user.username }}</h1>

{% if user.account.can_migrate_from_reddit %}
<h2>Let's get you on board!</h2>
<p>
  We have everything ready to connect you to a server and
  <a href="{% url 'fediverser-core:lemmy-onboarding-start' %}">set up your account</a>.
</p>

{% endif %}

{% endif %}
{% endblock %}
