{% extends "portal/base.tmpl.html" %}
{% load countries fediverser wagtailadmin_tags %}

{% block main_content %}
{% instance_selection_options as instance_selection_options %}
<section>
  <p>
    We ask a few simple questions about your interests and use to find the best
    server for you and subscribe you to the most relevant communities automatically.
  </p>
  <ul class="instance-selector-options">
    {% if instance_selection_options.countries %}
    <li class="option country">
      <p>
        <strong>Regional servers:</strong> regardless of which server you use, you will
        be able to interact with pretty much everyone. It might still
        be a good idea to choose a server that is for people in a region close to you.
        Our database has instances from the following countries:
      </p>
        <ul class="countries">
          {% for country_code in instance_selection_options.countries %}
          <li class="country-option" data-country-code="{{ country_code }}">
            {% get_country country_code as country %}
            <figure>
              <img class="flag" src="{{ country.flag }}" alt="Flag for {{ country.name }}" />
              <figcaption>{{ country.name }}</figcaption>
            </figure>
            {% endfor %}
          </li>
        </ul>
    </li>
    {% endif %}
    {% if instance_selection_options.topics %}
    <li class="option topic">
      <p>
        <strong>Interests:</strong> some instances are focused on
        particular communities or topics. Just like in the
        case of geographical grouping, there is no need for you to be
        using the same server as your peers. Our database has
        instances for people primarily interested in:
      </p>
      <ul class="topics">
        {% for topic in instance_selection_options.topics %}
        <li>
        <li class="topic">
          <div class="w-field__wrapper">
            <label class="w-field__label" for="id_{{ topic.code }}" id="id_{{topic.code }}-label">
              {{ topic.name }}
            </label>
            <div class="w-field w-field--boolean_field w-field--switch_input" data-contentpath="{{ topic.code }}">
              <div class="w-field__input">
                <label class="switch">
                  <input type="checkbox" name="{{ topic.code }}" id="id_{{ topic.code }}">
                  <span class="switch__toggle">
                    {% icon classname="switch__icon" name="check" %}
                  </span>
                </label>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
        </li>
        {% endif %}
  </ul>

  <div>
    <button name="get-instance-recommendations" class="button button-longrunning">
      <em data-w-progress-target="label">Select an instance</em>
    </button>
  </div>

  {% if user.account.reddit_account is None %}
  <p>
    Hint: If you have a <a href="{% url 'fediverser-core:reddit-connection-setup' %}">Reddit</a>
    account we can collect your favorite subreddits to make the process even faster!
  </p>
  {% endif %}
</section>

{% endblock %}


{% block extra_js %}
{{ block.super }}
<script type="text/javascript">
 const recommendationsUrl = "{% url 'fediverser-core:api-instancerecommendation-list' %}";
 let selectedCountry = null;

 async function handleButtonClick() {
   const selectedTopics = [...document.querySelectorAll("li.topic input[type=checkbox]:checked")].map(
     function(el) { return el.getAttribute("name")}
   );

   const criteria = []

   if (selectedCountry) {
     criteria.push(new URLSearchParams({country: selectedCountry}));
   }

   selectedTopics.forEach(function(selectedTopic) {
     criteria.push(new URLSearchParams({topic: selectedTopic}))
   })

   await getRecommendedInstances(criteria);
 }

 async function getRecommendedInstances(criteria) {
   const qs = criteria.map(function(param) { return param.toString() }).join('&')

   let headers =  new Headers({
     "Accept": "application/json",
     "Content-Type": "application/json",
   })


   let response = await fetch(`${recommendationsUrl}?${qs}`, {headers})
   let data = await response.json()
   let topRecommendation = data.shift()

   if (topRecommendation) {
     const {domain, description} = topRecommendation;

     const message = `We believe that ${domain} will be a good instance for you. Should we take you to sign up there?`

     if (confirm(message)) {
       document.location = `instances/${domain}/signup`;
     }
   }
 }

 window.addEventListener("load", function() {
   let button = document.querySelector("button[name=get-instance-recommendations]");
   let countries = document.querySelectorAll("li.country-option");

   function resetCountrySelection() {
     selectedCountry = null;
     countries.forEach(function(node) {
       node.classList.remove("selected");
     });
   }

   countries.forEach(function(node) {
     node.addEventListener("click", function(evt) {
       const toSelect = ! node.classList.contains("selected");

       resetCountrySelection();

       if (toSelect) {
         node.classList.add("selected")
         selectedCountry = node.getAttribute("data-country-code");
       }
       else {
         node.classList.remove("selected");
       }
     });
   });

   button.addEventListener("click", handleButtonClick);
 });

</script>
{% endblock %}
