{% extends "wagtailadmin/admin_base.html" %}
{% load static i18n wagtailadmin_tags %}
{% block titletag %}{% trans "Sign in" %}{% endblock %}
{% block bodyclass %}login{% endblock %}

{% block furniture %}
    <main class="content-wrapper" id="main">
        <h1>{% block branding_login %}{% trans "Sign in to Fediverser Network" %}{% endblock %}</h1>

        <div class="messages" role="status">
            {# Always show messages div so it can be appended to by JS #}
            {% if messages or form.errors %}
                <ul>
                    {% if form.errors %}
                        {% for error in form.non_field_errors %}
                            <li class="error">{{ error }}</li>
                        {% endfor %}
                    {% endif %}
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        {% block above_login %}{% endblock %}

        <form class="login-form" action="{% url 'wagtailadmin_login' %}" method="post" autocomplete="off" novalidate>
          {% block login_form %}
          {% csrf_token %}

          {% url 'wagtailadmin_home' as home_url %}
          <input type="hidden" name="next" value="{{ next|default:home_url }}" />

          {% field field=form.username %}{% endfield %}
          {% field field=form.password %}{% endfield %}

          <a class="reset-password" href="{% url 'wagtailadmin_password_reset' %}">{% trans "Forgotten password?" %}</a>

          {% trans "Remember me" as checkbox_text %}
          {% include "wagtailadmin/shared/forms/single_checkbox.html" with label_classname="remember-me" name="remember" text=checkbox_text %}
          {% endblock %}
          <footer class="form-actions">
            {% block submit_buttons %}
            {{ block.super }}
            <a href="{% url 'fediverser-core:reddit-connection-setup' %}" class="button button-longrunning">
              <em data-w-progress-target="label">{% trans 'Sign in via Reddit' %}</em>
            </a>
            {% endblock %}
          </footer>
        </form>

        {% block below_login %}{% endblock %}

        {% block branding_logo %}
        <div class="login-logo">
          <img src="{% static 'fediverser/images/fediverse-logo.png' %}" alt="Fediverver Network" />
        </div>
        {% endblock %}
    </main>
{% endblock %}
